<p><strong>Picture: </strong><%= attachment_image_tag(@article, :image, :fill, 100, 100, fallback: "no-image.jpg") %></p>
<p><strong>Contributor: <%= image_tag('no_image.jpg') %></strong></p>
<p><strong>Prefecture: </strong><%= @article.prefecture_code %></p>
<p><strong>City: </strong><%= @article.address_city %></p>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Body: </strong><%= @article.body %></p>
    <%= link_to 'Edit', edit_article_path(@article), class: "edit_#{@article.id}" %> |
    <%= link_to 'Back', articles_path, class: "back" %>
<p><strong>Comments: <%= @article.article_comments.count %></strong></p>
<% @article.article_comments.each do |article_comment| %>
  <p><%= image_tag('no_image.jpg') %></p>
  <%= article_comment.contributor.name %>
  <%= article_comment.created_at.strftime('%Y/%m/%d') %><%= article_comment.comment %>
<% end %>
<!--コメント削除機能-->
  <div class="comment-delete">
    
  </div>

<div class="new-comment">
  コメントをする
<%= form_with(model:[@article, @article_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>