<div class="article">
  <h1>Article detail</h1>
  <table class="detail">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Contributor</th>
        <th>Prefecture</th>
        <th>city</th>
        <th>Title</th>
        <th>Body</th>
        <th colspan="2"></th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr>    
        <td><%= attachment_image_tag(@article, :image, :fill, 100, 100, fallback: "no-image.jpg") %></td>
        <td><%= image_tag('no_image.jpg') %></td>
        <td><%= @article.prefecture_code %></td>
        <td><%= @article.address_city %></td>
        <td><%= @article.title %></td>
        <td><%= @article.body %></td>
        <td>
          <%= link_to 'Edit', edit_article_path(@article), class: "edit_#{@article.id}" %> |
          <%= link_to 'Back', articles_path, class: "back" %>
        </td>
        <td>
          <%= form_with(model:[@article, @article_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'4',placeholder: "コメントをここに" %></br>
            <%= f.submit "送信する" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
      <div class="comments">
        <div>Comment : <%= @article.article_comments.count %></div>
        <% @article.article_comments.each do |article_comment| %>
        <p><%= image_tag('no_image.jpg') %></p>
          <%= article_comment.contributor.name %>
          <%= article_comment.created_at.strftime('%Y/%m/%d') %><%= article_comment.comment %>
        <% end %>
      </div>
      <!--コメント削除機能-->
      <!--<div class="comment-delete">-->
      <!--</div>-->
</div>