<p><strong>Prefecture: </strong><%= @article.prefecture_code %></p>
<p><strong>City: </strong><%= @article.address_city %></p>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Body: </strong><%= @article.body %></p>

<%= link_to 'Edit', edit_article_path(@article), class: "edit_#{@article.id}" %> |
<%= link_to 'Back', articles_path, class: "back" %>