<div>
<h2><%= @contributor.name %>'s Informatin Edit</h2>
  <div>
    <div>
      <%= form_with model:@contributor, url:admin_contributor_path(@contributor),local:true do |f| %>
        <table>
          <tr>
            <th><%= f.label :"ContributorID" %></th>
            <td><%= f.label :"#{@contributor.id}" %></td>
          </tr>
          <tr>
            <th><%= f.label :"Nickname" %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th><%= f.label :"Gender" %></th>
            <td><%= f.text_field :gender %></td>
          </tr>
          <tr>
            <th><%= f.label :"Age" %></th>
            <td><%= f.text_field :age %></td>
          </tr>
          <tr>
            <th><%= f.label :"E-mail" %></th>
            <td><%= f.text_field :email %></td>
          </tr>
        </table>
        <div>
          <%= f.submit "Chenge Informatin", class: "btn btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
</div>