<div>
 <h2><%= @contributor.name %>'s Informatin</h2>
  <div>
    <div>
      <table>
        <tr>
          <th>Contributor ID</th>
          <td><%= @contributor.id %></td>
        </tr>
        <tr>
          <th>Nickname</th>
          <td><%= @contributor.name %></td>
        </tr>
        <tr>
          <th>Gender</th>
          <td><%= @contributor.gender %></td>
        </tr>
        <tr>
          <th>Age</th>
          <td><%= @contributor.age %></td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td><%= @contributor.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>