<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mytown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <%= render 'layouts/header' %>
    </div>
    <div class="main-visual">
      <%= yield %>
    </div>
    <div class="footer">
    <%= render 'layouts/footer' %>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
